/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
/* Global properties ======================================================== */
html {width:100%; height:100%;}
body {font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:25px;color:#999;min-width:960px;height:100%;background:url(/../../images/frontend/body-bg.jpg) center top no-repeat #f3f3f3;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.bg {width:100%; background:url(/../../images/frontend/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px;
	margin:0 auto;
}

a {color:#00aa38; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2 {float:left;}

.wrapper {width:100%; overflow:hidden; position:relative;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:10px;}
.p1 {margin-bottom:4px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#3c74a9;}
.color-2 {color:#49a69e;}
.color-3 {color:#f3ad29;}
.color-4 {color:#00aa38;}
.color-5 {color:#4c4c4c;}

/*********************************boxes**********************************/
.indent {padding:0 10px;}
.indent-left {padding-left:20px;}
.indent-left2 {padding-left:10px;}
.indent-left3 {padding-left:15px;}
.indent-right {padding-right:20px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:40px;}
.margin-bot {margin-bottom:35px;}

.img-indent {float:left; margin:8px 20px 0px 0;}	
.img-indent2 {float:left; margin:0 20px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 a,
.list-2 a,
.link,
.button,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

h1 {
	padding:7px 0 0 0;
	float:left;
}
	h1 a {
		display:inline-block;
		font-size:25px;
		line-height:2em;
		color:#4c4c4c;
		letter-spacing:-2px;
	}

	h1 strong {color:#00aa38;}
	
/***** menu *****/
.menu {
	padding:51px 0 0 0; 
	float:right;
}
.menu li {
	float:left; 
	position:relative;
	padding-left:12px;
}
.menu > li:first-child {padding-left:0;}
.menu a {
	display:inline-block; 
	font-size:13px; 
	line-height:20px; 
	padding:3px 20px; 
	color:#999;
}
.menu a.active,
.menu a:hover {background:#00aa38; color:#fff;}

/***** slider style *****/
#banners {
	position:relative;
	z-index:2;
	width:100%;
	height:147px;
	overflow:hidden;
	text-align:center;
}
#banners > div{
	width:100%;
	padding-top:13px;
	background:#f4f4f4;
}
#prev,
#next {
	display:block;
	width:10px;
	height:19px;
	text-indent:-9999em;
	position:absolute;
	z-index:99;
	top:50%;
	margin-top:-11px;
}
#prev {background:url(/../../images/frontend/prev.gif) 0 0 no-repeat; left:27px;}
#next {background:url(/../../images/frontend/next.gif) 0 0 no-repeat; right:29px;}
.title-1 {
	display:block;
	font-size:59px;
	line-height:1.2em;
	color:#4c4c4c;
	letter-spacing:-2px;
	margin-bottom:-10px;
}
.title-2 {
	display:block;
	font-size:38px;
	line-height:1.3em;
	color:#999;
	letter-spacing:-1px;
}
.title-3 {
	display:block;
	font-size:23px;
	line-height:2em;
	letter-spacing:-1px;
	background:url(/../../images/frontend/pic-1.gif) left bottom repeat-x;
	text-indent:8px;
	padding-bottom:2px;
	margin-bottom:10px;
}

/*********************************content*************************************/
#content {
	width:100%; 
	padding:22px 0 58px;
	position:relative;
	z-index:1;
}
#page1 #content {padding:29px 0 58px;}

.spacer-1 {
	width:100%; 
	background:url(/../../images/frontend/pic-1.gif) 217px 0 repeat-y;
}

h3 {
	font-size:30px;
	line-height:1.8em;
	color:#4c4c4c;
	letter-spacing:-2px;
	background:url(/../../images/frontend/h3-tail.gif) 0 bottom repeat-x;
	margin-bottom:8px;
}

h4 {
    font-size:22px;
    line-height:1.8em;
    color:#4c4c4c;
    letter-spacing:-2px;
    background:url(/../../images/frontend/h3-tail.gif) 0 bottom repeat-x;
    margin-bottom:8px;
}

h5 {color:#4c4c4c; font-weight:normal;}
h6 {color:#00aa38; font-weight:normal;}

.border-bot {
	width:100%; 
	padding-bottom:1px; 
	background:url(/../../images/frontend/border-bot.gif) 0 bottom repeat-x;
}
.border-bot2 {
	width:100%; 
	padding-bottom:15px; 
	background:url(/../../images/frontend/border-bot.gif) 0 bottom repeat-x;
}

.box {
	width:100%; 
	background:#fff;
	box-shadow:0 0 2px #ddd;
	-moz-box-shadow:0 0 2px #ddd;
	-webkit-box-shadow:0 0 2px #ddd;
	margin-bottom:2px;
}
	.box .padding {padding:10px 19px 34px;}
	.box a {font-size:13px; line-height:20px; color:#999; display:inline-block;}

.button {
	display:inline-block; 
	padding:5px 19px;
	font-size:13px;
	line-height:1.23em;
	color:#fff; 
	background:#4c4c4c;
	cursor:pointer;
}
.button:hover {background:#00aa38;}

.tdate-1 {display:block;}
	.tdate-1 a {color:#4c4c4c;}

.list-1 li {
	line-height:19px; 
	padding:8px 0 8px 14px; 
	background:url(/../../images/frontend/marker-1.gif) 0 15px no-repeat;
}
	.list-1 a {display:inline-block;}
	.list-1 a:hover {color:#4c4c4c;}

.list-2 li {
	font-size:14px; 
	line-height:24px; 
	padding:0px; 
	background:url(/../../images/frontend/pic-1.gif) 0 bottom repeat-x;
}
	.list-2 a {
		display:block; 
		color:#1799cf; 
		padding-left:12px; 
		background:url(/../../images/frontend/marker-1.gif) 0 10px no-repeat;
	}
	.list-2 a:hover {color:#fff;}
	.list-2 .last-item {background:none;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:14px; 
	padding-right:8px; 
	background:url(/../../images/frontend/marker-3.gif) right 8px no-repeat;
}
.link-1:hover {color:#fff;} 

.numb {
	display:block;
	font-size:40px;
	line-height:1.8em;
	color:#00aa38;
	float:left;
	margin-right:10px;
} 

dl dt {margin-bottom:10px;}
dl span {float:left; width:69px;}

/***** contact form *****/
#contact-form {
	display:block;
	width:100%;
}
	#contact-form label {
		display:block; 
		height:30px; 
		overflow:hidden;
	}
	#contact-form input {
		float:left; 
		width:280px; 
		font-size:13px; 
		line-height:1.23em;
		color:#999;
		padding:2px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #ececec; 
		background:#fff;
		outline:none;
	}
	#contact-form textarea {
		float:left;
		height:305px; 
		min-height:305px; 
		max-height:305px; 
		width:500px;
		max-width:500px;
		min-width:500px;
		font-size:13px; 
		line-height:1.23em;
		color:#999;
		padding:5px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #ececec; 
		background:#fff;
		overflow:auto;
		outline:none;
	}
.text-form {
	float:left; 
	display:block; 
	font-size:13px;
	line-height:24px;
	width:78px; 
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
}

.buttons {padding:17px 0 0 0; text-align:right;}
.buttons a {margin-left:6px;}
		
/****************************footer************************/
footer {width:100%; text-align:center;}
	footer span {display:block;}
	footer .inner {padding:0 10px;}
	.footer-bg {width:100%; background:url(/../../images/frontend/footer-tail.gif) left top repeat-x; padding:25px 0 45px;}

.list-services {
	padding:0;
}
	.list-services li {
		float:left; 
		padding:0 0 0 10px;
	}
.scroll {
    overflow:auto; /* прокрутка появляется по необходимости */
    padding:10px 20px;
}