/***************include bulletin fonts**************/
/*@font-face {
    font-family: 'pf_bulletin_sans_pro_mediumIt';
    src: url('pfbulletinsanspro-medital-webfont.eot');
    src: url('pfbulletinsanspro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfbulletinsanspro-medital-webfont.woff') format('woff'),
         url('pfbulletinsanspro-medital-webfont.ttf') format('truetype'),
         url('pfbulletinsanspro-medital-webfont.svg#pf_bulletin_sans_pro_mediumIt') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'PF_Bullet_Sans_Pro';
    src: url('PFBulletinSansPro-LightIta.eot');
    src: url('PFBulletinSansPro-LightIta.ttf') format('truetype');
    font-weight: lighter;
    font-style: Italic;
}
@font-face {
    font-family: 'PF_Bullet_Sans_Pro';
    src: url('PFBulletinSansPro-Bold.eot');
    src: url('PFBulletinSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PF_Din_Text_Comp_Pro';
    src: url('PFDinTextCompPro-ThinItal.eot');
    src: url('PFDinTextCompPro-ThinItal.ttf') format('truetype');
    font-weight: lighter;
    font-style: Italic;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('myriadproregular.eot');
    src: url('myriadproregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'PF_Bullet_Sans_Pro_Reg';
    src: url('PFBulletinSansPro-Regular.eot');
    src: url('PFBulletinSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFBulletinSansPro-Italic';
    src: url(' PFBulletinSansPro-Italic.eot');
    src: url('pfbulletinsansproitalic.woff') format('woff');
    src: url('PFBulletinSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
